@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@keyframes down {
  0% {
    bottom: 2rem; }
  100% {
    bottom: .5rem; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #FFF; }

.loader {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 666;
  height: 100%;
  width: 100%;
  background-color: #022648; }
  .loader .wrapper {
    justify-content: center;
    align-items: center;
    height: 100%; }

.wrapper {
  display: flex;
  width: 90%;
  margin: 0% auto; }

a {
  display: inline-block;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  height: auto;
  width: 100%;
  vertical-align: bottom; }

html {
  font-size: 62.5%; }

body {
  font-family: "Merriweather", serif;
  font-size: 1.6rem; }

.hero--heading {
  font-size: 7.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 2.9rem; }

.hero--paragraph {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 15rem; }

.fa-facebook-square,
.fa-instagram {
  padding: 0;
  line-height: 0;
  margin: 0; }

.down {
  animation: down 1.5s ease infinite; }

.o-meni {
  color: #6B6B6B; }
  .o-meni--heading {
    color: #284266;
    font-size: 8.2rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 2.4rem; }
  .o-meni p {
    line-height: 1.6;
    margin-bottom: 2.4rem; }

h5 {
  color: #284266;
  font-size: 1.6rem;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 1.9rem;
  display: flex;
  align-items: center; }
  h5 svg {
    margin-right: 1.3rem; }

.usluge--heading {
  color: #284266;
  font-size: 8.2rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 5.5rem;
  text-transform: uppercase; }

.usluge h4 {
  color: #284266;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 1.9rem; }
  .usluge h4::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: .1rem;
    width: 11rem;
    background-color: #F89963; }

.usluge p {
  color: #284266;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.42;
  margin-top: 1.9rem; }

.footer {
  background-image: url(../../images/footer-bg.png);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  width: 100%;
  height: 415px; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .footer__top {
    padding: 5rem 0rem; }
    .footer__top ul li {
      display: flex;
      align-items: center;
      text-align: left; }
      .footer__top ul li svg {
        margin-right: 1.9rem; }
      .footer__top ul li:not(:last-child) {
        margin-bottom: 1.5rem; }
    .footer__top ul a {
      margin-bottom: 1.5rem; }
      .footer__top ul a img {
        width: 16.3rem;
        height: auto;
        object-fit: cover; }
  .footer__bottom {
    background-color: #022648;
    padding: 1.5rem 0rem;
    width: 100%; }
    .footer__bottom .wrapper {
      align-items: center; }

.grid {
  display: grid;
  width: 100%; }

.o-meni .grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative; }
  .o-meni .grid__item--2 {
    position: absolute;
    bottom: 0;
    left: 50%; }

.usluge .grid {
  margin-top: 10rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 12.5rem; }
  .usluge .grid__item {
    position: relative;
    padding: 2.5rem;
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.13); }
    .usluge .grid__item svg {
      position: absolute;
      top: -4rem;
      left: -4rem; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  width: 100%;
  padding: 2rem 0rem; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }

.nav {
  width: 100%; }
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .nav li {
    transition: all .3s ease;
    border-bottom: 3px solid transparent;
    padding: 1rem 0rem; }
    .nav li:hover {
      border-bottom: 3px solid #F89963; }
  .nav a {
    color: #F89963;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase; }

.hero {
  background-image: url(../../images/Slika.png);
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #FFF;
  display: flex;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 38, 72, 0.8); }
  .hero__line {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 7.5rem;
    background-color: #F89963; }
  .hero__content {
    margin-top: 14rem; }
    .hero__content .wrapper {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 3rem; }
    .hero__content--bottom {
      display: flex;
      align-items: flex-end; }
    .hero__content .language span {
      display: inline-block;
      color: #F89963;
      text-transform: uppercase; }
  .hero__social {
    margin-right: 2.5rem; }
    .hero__social a {
      color: #F89963;
      font-size: 4rem;
      line-height: 0; }
      .hero__social a:not(:last-child) {
        margin-right: 2.5rem; }
  .hero__img {
    height: 34rem;
    margin-right: -15rem; }
    .hero__img img {
      height: auto;
      width: 100%;
      object-fit: cover; }
  .hero .down {
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%); }

.o-meni__content {
  padding: 5rem 5rem 5rem 0rem; }

.o-meni ul {
  margin: 0rem 0rem 2rem 4rem; }

.o-meni li {
  position: relative;
  padding-left: 1.2rem; }
  .o-meni li:not(:last-child) {
    margin-bottom: 1rem; }
  .o-meni li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    background-color: #284266; }

.parallax {
  padding: 5rem 0rem;
  background-image: url(../../images/shutterstock_1115675732bw.png);
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 39.4rem; }
  .parallax .wrapper {
    position: relative;
    height: 100%; }
  .parallax::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(174, 81, 59, 0.8); }
  .parallax__img {
    width: 32.5rem;
    height: 28.3rem;
    position: absolute; }
    .parallax__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.usluge {
  padding: 10rem 0rem;
  text-align: center; }
  .usluge .wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .usluge .box {
    position: relative;
    width: 94.6rem;
    padding: 2.5rem;
    border: 0.1rem solid #F89963;
    border-radius: 1rem;
    margin-top: 10rem; }
    .usluge .box svg {
      position: absolute;
      top: -9rem;
      left: 50%;
      transform: translateX(-50%); }
