@mixin space-between-center {
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    justify-content: center;
    align-items: center;
}

@mixin background-image {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
