//Colors
$color-primary: #022648;
$color-secondary: #284266;
$color-tertiary: #F89963;
$color-quaternary: #AE513B;
$color-quinary: #6B6B6B;
$color-senary: #FFF;

//Font
$font-primary: 'Merriweather', serif;

//Media queries
$small-devices: 480px;
$medium-devices: 768px;
$large-devices: 1024px;
$extra-large-devices: 1200px;