.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 100%;
    padding: 2rem 0rem;
    transition: all .5s ease-in-out;

    &--scroll {
        background-color: $color-primary;
        transition: all .5s ease-in-out;
        box-shadow: 0px 5px 5px 0px rgba($color-primary,.3);
        padding: 0rem;
    }

    & .wrapper {
        @include space-between-center;
        height: 100%;
        @media only screen and(max-width: $large-devices) {
            width: 90%;
        }
    }

    & .logo {
        display: none;

        @media only screen and(max-width: $medium-devices) {
            display: inline-block;
            width: 10rem;
            height: auto;
            object-fit: cover;
            position: relative;
            z-index: 999;
            padding: 1.2rem 0rem;
        }
    }

    & .menu {
        height: 2.5rem;
        width: 4rem;
        cursor: pointer;
        display: none;
        position: relative;
        z-index: 999;

        @media only screen and(max-width: $medium-devices) {
            display: inline-block;
        }

        &__line {
            height: .4rem;
            width: 100%;
            background-color: $color-senary;
            transition: all .5s ease-in-out;

            &--top--open,
            &--mid--open,
            &--bottom--open {
                transition: all .5s ease-in-out;
            }


            &--top--open {
                transform: rotate(45deg) translateY(8px) translateX(4px);
            }
            &--mid--open {
                opacity: 0;
            }

            &--bottom--open {
                transform: rotate(-45deg) translateY(-8px) translateX(4px);
            }

            &:not(:last-child) {
                margin-bottom: .6rem;
            }
        }
    }
}