* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*html {
    scroll-behavior: smooth;
}*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color-senary;
}

.loader {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 666;
    height: 100%;
    width: 100%;
    background-color: $color-primary;

    & .wrapper {
        @include center;
        height: 100%;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0% auto;
    @media only screen and(min-width: $small-devices) {
        width: 90%;
        max-width: 100%;
    }
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    height: auto;
    width: 100%;
    vertical-align: bottom;
}