@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
}

.hero {
    &--heading {
        font-size: 7.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 2.9rem;
    }

    &--paragraph {
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 15rem;
    }
}

.fa-facebook-square,
.fa-instagram {
    padding: 0;
    line-height: 0;
    margin: 0;
}

.o-meni {
    color: $color-quinary;
    &--heading {
        color: $color-secondary;
        font-size: 8.2rem;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
    }

    & p {
        line-height: 1.4;
        margin-bottom: 2.4rem;
    }
}

h5 {
    color: $color-secondary;
    font-size: 1.6rem;
    line-height: 1.4;
    text-transform: capitalize;
    margin-bottom: 1.9rem;
    display: flex;
    align-items: center;

    & svg {
        margin-right: 1.3rem;
    }
}

