.hero {
    background-image: url(../../images/Slika.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $color-senary;
    display: flex;
    @include space-between-center;
    
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($color-primary, .8);
    }

    &__content {
        margin-top: 14rem;
        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 4rem;
        }

        &--bottom {
            display: flex;
            align-items: flex-end;
        }
    }

    &__social {
        margin-right: 5rem;
        & a {
            color: $color-tertiary;
            font-size: 4rem;
            line-height: 0;

            &:not(:last-child) {
                margin-right: 5.5rem;
            }
        }
        
    }

    &__img {
        height: 34rem;

        & img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    & .down {
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        transform: translateX(-50%);
    }
}

.o-meni {
    & ul {
        margin: 0rem 0rem 2rem 4rem;
    }

    & li {
        position: relative;
        padding-left: 1.2rem;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            height: .6rem;
            width: .6rem;
            border-radius: 50%;
            background-color: $color-secondary;
        }
    }
}

.parallax {
    padding: 5rem 0rem;
    background-image: url(../../images/shutterstock_1115675732bw.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.4rem;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($color-quaternary, .8);
    }

    &__img {
        width: 32.5rem;
        height: 28.3rem;
        
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}