.hero {
    background-image: url(../../images/Slika.png);
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $color-senary;
    display: flex;
    @include background-image;
    @include space-between-center;
    
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($color-primary, .8);
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        height: 2.5rem;
        width: 7.5rem;
        background-color: $color-tertiary;
    }

    &__content {
        margin-top: 14rem;
        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 3rem;
        }

        &--bottom {
            display: flex;
            align-items: flex-end;
        }

        & .language {
            & span {
                display: inline-block;
                color: $color-tertiary;
                text-transform: uppercase;
            }
        }
    }

    &__social {
        margin-right: 2.5rem;
        & a {
            color: $color-tertiary;
            font-size: 4rem;
            line-height: 0;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
        
    }

    &__img {
        height: 34rem;
        margin-right: -15rem;

        & img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    & .down {
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        transform: translateX(-50%);
    }
}

.o-meni {

    &__content {
        padding: 5rem 5rem 5rem 0rem;
    }

    & ul {
        margin: 0rem 0rem 2rem 4rem;
    }

    & li {
        position: relative;
        padding-left: 1.2rem;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            height: .6rem;
            width: .6rem;
            border-radius: 50%;
            background-color: $color-secondary;
        }
    }
}

.parallax {
    padding: 5rem 0rem;
    background-image: url(../../images/shutterstock_1115675732bw.png);
    position: relative;
    z-index: 1;
    @include background-image;
    height: 39.4rem;

    & .wrapper {
        position: relative;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($color-quaternary, .8);
    }

    &__img {
        width: 32.5rem;
        height: 28.3rem;
        position: absolute;
        
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.usluge {
    padding: 10rem 0rem;
    text-align: center;

    & .wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & .box {
        position: relative;
        width: 94.6rem;
        padding: 2.5rem;
        border: .1rem solid $color-tertiary;
        border-radius: 1rem;
        margin-top: 10rem;

        & svg {
            position: absolute;
            top: -9rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}