.hero {
    background-image: url(../images/Slika.png);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 10rem 0rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        background-color: rgba($color-primary,.8);
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        height: 3.5rem;
        width: 11rem;
        background-color: $color-tertiary;
    }

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    &__content {
        color: $color-senary;
    }

    &__social {
        position: absolute;
        bottom: 0%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & a {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        & span {
            color: $color-tertiary;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
        }

        & span .active {
            color: $color-senary;
        }
    }

    &__img {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;

        @media only screen and(max-width: $medium-devices) {
            display: none;
        }
        
        & img {
            position: absolute;
            right: -51%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__down {
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        transform: translateX(-50%);
        animation: down 1.25s ease-in-out infinite;
    }

}

.o-meni {

    &__content {
        padding: 5rem 5rem 5rem 0rem;

        @media only screen and(max-width: $medium-devices) {
            padding: 15rem 0rem 0rem 0rem;
        }
    }

    & ul {
        margin: 0rem 0rem 2rem 4rem;
    }

    & li {
        position: relative;
        padding-left: 1.2rem;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            height: .6rem;
            width: .6rem;
            border-radius: 50%;
            background-color: $color-secondary;
        }
    }
}

.parallax {
    padding: 5rem 0rem;
    background-image: url(../images/shutterstock_1115675732bw.png);
    position: relative;
    z-index: 1;
    @include background-image;
    height: 39.4rem;

    & .wrapper {
        position: relative;
        height: 100%;

        @media only screen and(max-width: $medium-devices) {
            @include center;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($color-quaternary, .8);
    }

    &__img {
        width: 32.5rem;
        height: 28.3rem;
        position: absolute;
        
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.usluge {
    padding: 10rem 0rem;
    text-align: center;

    & .wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & .box {
        position: relative;
        width: 94.6rem;
        padding: 2.5rem;
        border: .1rem solid $color-tertiary;
        border-radius: 1rem;
        margin-top: 10rem;

        @media only screen and(max-width: $extra-large-devices) {
            width: 90%;
            padding: 7.5rem 2.5rem;
            margin: 0 auto;
            margin-top: 12.5rem;
        }

        & svg {
            position: absolute;
            top: -9rem;
            left: 50%;
            transform: translateX(-50%);

            @media only screen and(max-width: $medium-devices) {
                top: -6rem;
            }
        }
    }
}